.product-inner-box {
  padding: 0px 50px;
}

.product-box {
  background-color: white;
  padding: 20px 0px;
}

.product-name {
  width: 280px;
  height: 225px;
  line-height: 225px;
  white-space: nowrap;
  background-color: #55595c;
  color: white;
  font-size: 30px;
}
