.product-button.product-button-hidden {
  display: none;
}

.product-button > .add-product-button-name {
  display: block;
}

.product-button > .remove-product-button-name {
  display: none;
}

.product-button.product-button-selected > .remove-product-button-name {
  display: block;
}

.product-button.product-button-selected > .add-product-button-name {
  display: none;
}

#move-to-order {
	padding-top: 40px;
}